<h1><%= @project.name %></h1>
<br/>
<ul>
  <%= link_to "Edit", edit_project_path(@project), class:"btn btn-primary" %>
  <%= link_to "Destroy", project_path(@project), class:"btn btn-primary",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
</ul>